---
const {sideBarActiveItemID} = Astro.props;
const activeClass = "nav-active";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class:list={['py-3', 'text-base', sideBarActiveItemID === "home" ? activeClass : ""]} id="home" href="/">Home</a></li>
    <li><a class:list={['py-3', 'text-base', sideBarActiveItemID === "projects" ? activeClass : ""]} id="projects" href="/projects">Projects</a></li>
    <li><a class:list={['py-3', 'text-base', sideBarActiveItemID === "store" ? activeClass : ""]} id="store" href="/store">Store</a></li>
    <li><a class:list={['py-3', 'text-base', sideBarActiveItemID === "blog" ? activeClass : ""]} id="blog" href="/blog/">Blog</a></li>
    <li><a class:list={['py-3', 'text-base', sideBarActiveItemID === "cv" ? activeClass : ""]} id="cv" href="/cv">CV</a></li>
    <li>
        <a
                class="py-3 text-base"
                href="mailto:4chaoticbrain@gmail.com"
                target="_blank"
                referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>


